@font-face {
    font-family: Han Sans;
    font-weight: 400;
    src: url("../fonts/Black_Han_Sans/BlackHanSans-Regular.ttf") format("truetype");
}

/* Banner */
.banner_wrapper {
    display: flex;
    width:100%;
    min-height: 800px;
    background-image: url(../../public/images/Banner2.jpeg);
    background-size: cover;
    top:0;
    
}
.banner_info{
    display :flex;
    flex-direction: column;
    position: relative;
    width:300px;
    height:300px;
    background-color: #f3eeee;
    margin: 0 auto;
    align-self: center;
    border-radius: 3%;
    opacity: 0.8;
}
.banner_circle{
    margin: 0 auto;
    margin-top: 30px;
    width:100px;
    height:100px;
    border-radius: 40%;
    background-image: url(../../public/images/James.jpeg);
    background-size: cover;
    margin-bottom:10px;
}


.banner__aboutMeName{
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
    color: gray;
}
.banner__aboutMe{
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    color: gray;
}
.banner__aboutMe:hover{
    color: black;
}
.banner__aboutMeName:hover{
    color: black;
}

.banner__websites{
    position:relative;
    margin: 0 auto;
    bottom: 0;
    margin-top: 40px;
    display: flex;
}
.websiteIcon__github{
    margin: 0px 10px;
    font-size: 30px;
    color: black;
    cursor: pointer;
}
.websiteIcon__velog{
    margin: 0px 10px;
    font-size: 30px;
    color: black;
    cursor: pointer;
}


.sectionTitle {
    display: table;
    position: relative;
    margin: 0 auto 3rem;
}

.title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: "Han Sans";
    font-size: 3rem;
    line-height: 1.5;
    color:rgb(22, 134, 126);
}
/* About Page */
.about__wrapper {
    width: 100%;
    min-height: 400px;
    padding: 4rem 2rem;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgb(240, 234, 226);
}
.aboutMe__contents {
    display: flex;
    margin: 0px auto;
    max-width: 950px;
    flex-flow: row wrap;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.aboutMe__elements {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 15rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    opacity: .8;
}

.aboutMe__icon {
    font-size: 40px;
    margin-right: 2rem;
}

.aboutME__field {
    display: block;


}

.aboutMe__label {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.aboutMe__value {
    font-weight: 400;
    font-size: 1rem;
}
/* Skills Page */

.skills__wrapper {
    width: 100%;
    min-height: 500px;
    padding: 4rem 2rem;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgb(226, 238, 240);
}

.skills__section {
    display: flex;
    margin: 0px auto;
    max-width: 1200px;
    flex-flow: row wrap;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.skills_element {
    background-color: white;
    flex-shrink: 0;
    width: 30rem;
    padding: 1.5rem;
    margin: 0 auto 2rem;
    border-radius: 1rem;
}

.skills_title {
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 1.5rem;
    color: #f4623a;
}

.skills__img {
    display: flex;
    width: 80%;
}

/* Archiving Page */
.archiving_element {
    background-color: white;
    flex-shrink: 0;
    width: 30rem;
    height: 40rem;
    padding: 1.5rem;
    margin: 0 auto 2rem;
    border-radius: 1rem;
}

.archiving_title {
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 1.5rem;
    color: #2e2e2d;
}

.archiving__githubImg {
    display: flex;
    border-radius: 1rem;
    width: 100%;
}

.archiving__blogImg {
    display: flex;
    border-radius: 1rem;
    width: 60%;
}

.archiving__icon {
    font-size: 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

}

.archiving__icon:hover {
    background-color: white;
    color: black;
    transform: scale(1.25);
}

.archiving__blogIcon {
    font-size: 30px;
    border: 1px solid rgb(0, 171, 14);
    background-color: rgb(226, 240, 232);
    color: rgb(0, 171, 14);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.archiving__blogIcon:hover {
    transform: scale(1.25);
}



.blogicon {
    width: 100%;
}